@font-face {
    font-family: "Play";
    src: url("./Fonts/Play/Play-Regular.ttf");
}

body
{
    background-color:rgb(3, 21, 56);
    text-align: center;
}

#Title, #Rules, #CurrentScore, #RoundElections, #WinnerOfRound
{
    color: white;
    font-family: "Play";
}

#RoundElections
{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}


#RoundElections span
{
    display: block;
    margin-top: 30px;
    background-color: rgb(238, 220, 220);
    border-radius: 50%;
    font-size: 60px;
    text-align: center;
    max-width: 150px;
    max-height: 300px;
}

#Title
{
    text-decoration: underline;
}

#WinnerOfRound
{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#ButtonsContainer
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    /*height: 500px; This comment is here because I was 
    changing moving the div with height, now is better with
    margin instead, erase later
    */
    margin-top: 200px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

#ButtonsContainer button
{
    height: 100px;
    width: 150px;
    font-size: 60px;
    border-radius: 20px;
}

#CurrentScore
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 50px;
    flex-wrap: wrap;
    min-width: 200px;
    gap: 20px;
}

#CurrentScore p
{
    margin-right: 30px;
}