@font-face {
    font-family: "Play";
    src: url("./Fonts/Play/Play-Regular.ttf");
}

body
{
    background-color:rgb(3, 21, 56);
    text-align: center;
}

#Title, #Rules, #CurrentScore
{
    color: white;
    font-family: "Play";
}

#Title
{
    text-decoration: underline;
}

#ButtonsContainer
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    /*height: 500px;*/
    margin-top: 300px;
    flex-wrap: wrap;
}

#ButtonsContainer button
{
    height: 100px;
    width: 150px;
    font-size: 60px;
    border-radius: 20px;
}
